@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');


*{
    padding: 0;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #0e0e0e;
    .contact_form {
        background-color: rgb(214, 0, 93);
        width: 460px; 
        height: auto;
        margin: 80px auto;
        border-radius: 10px;  
        padding-top: 30px;
        padding-bottom: 20px;   
        padding-left: 30px; 
    
        input {
            background-color: #fbfbfb; 
            width: 408px; 
            height: 40px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: white; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px;
            cursor: pointer; 
          }
    
          button p{
            color: #fff; 
          }
          
          
          span{
            color: white; 
          }
          
          
          .aviso{
            font-size: 13px;  
            color: #0e0e0e;  
          }
          
          
          h1{
            font-size: 39px;  
            text-align: letf; 
            padding-bottom: 20px; 
            color: white;
          }
          
          
          h3{
            font-size: 16px; 
            padding-bottom: 30px;
            color: #0e0e0e;   
          }
          
          
          p{
            font-size: 14px; 
            color: #0e0e0e; 
          }

          label{
            display: block; 
            float: center;  
          }

          textarea{
            background-color: #fbfbfb; 
            width: 405px; 
            height: 150px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: #ab4493; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
            padding-top: 15px; 
          }
          

          button{
            height: 45px; 
            padding-left: 5px;
            padding-right: 5px;   
            margin-bottom: 20px; 
            margin-top: 10px;   
            text-transform: uppercase;
            background-color: black; 
            border-color: black ; 
            border-style: solid; 
            border-radius: 10px;  
            width: 420px;   
            cursor: pointer;
          }
          
          
          ::-webkit-input-placeholder {
           color:gray;
          }
          
          
          ::-webkit-textarea-placeholder {
           color:gray;
          }
          
          
          .formulario input:focus{
            outline:0;
            border: 1px solid black;
          }
          
          
          .formulario textarea:focus{
            outline:0;
            border: 1px solid black;
          }
    }
}

 body{

$colores: (
    base: #000,
    principal: rgb(214, 0, 93); ,
    fondo: gray,
);

.fondo {
    background: map-get($colores, fondo);
    padding: 20px;
}

.btn {
  display: inline;
  width: 200px;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  font-weight: 700;
}
.btn--verde {
  @extend .btn;
  background-color: green;
  color: white;
}
.btn--black {
  @extend .btn;
  background-color: rgb(214, 0, 93);;
  color: white;
}

@mixin boton {
  display: inline-block;
  padding: 10px;
  border: 1px solid #333;
}
.boton--danger {
  @include boton;
  background-color: rgb(214, 0, 93);;
}

@mixin boton ($col, $bg) {
  display: inline-block;
  padding: 10px;
  color: $col;
  background: $bg;
}
.boton--alert {
  @include boton (rgb(214, 0, 93), grey);
}

 }
